#home {
	background: url('images/wp_bg_clouds_tile.png');
}

.logo {
	text-decoration: underline bold;
	/*color: #333333;*/

}

#mapcanvas {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 300px;
}

.pilih {
	text-align: center;
}

.text {
background: rgba(255, 255, 255, 0);
border: none;
}

#home .ui-link-inherit {
	/*text-align: center;*/
	/*text-decoration: none;*/
}

#home .ui-li-divider {
	text-align: center;
}
#home b {
	/*font-size: 12px;*/
	/*background-color: #A5ECB3;*/
	/*padding: 10px;*/
	text-decoration: underline;
	color: #000000;
	font-size: 120%;
}

#home .ui-content {
	margin: 20px;
}

.quotesauth-div {
	text-align: right;
}

.quote {
	text-align: left;
}

.log {
	text-align: center;
	text-decoration: none;
}

.ui-field-contain div.ui-input-text {
width: 9%;
display: inline-block;
}

.ui-field-contain div.ui-input-text {
margin: 1;
}